aiodns 
aiohappyeyeballs 
aiohttp 
aiosignal 
asgiref 
async-timeout 
attrs 
autocommand 
babel 
bcrypt 
blinker 
casttube 
certifi 
chardet 
click 
cryptography 
distro 
fido2 
Flask 
frozenlist 
httplib2 
idna 
ifaddr 
importlib_metadata 
inflect 
itsdangerous 
jaraco.classes 
jaraco.context 
jaraco.functools 
jaraco.text 
jeepney 
Jinja2 
jsonpatch 
jsonpointer 
jsonschema 
jsonschema-specifications 
keyring 
libpass 
linkify-it-py 
lxml 
markdown-it-py 
MarkupSafe 
mdurl 
more-itertools 
multidict 
mutagen 
netaddr 
netifaces 
oauthlib 
olefile 
packaging 
pexpect 
pillow 
propcache 
protobuf 
psutil 
ptyprocess 
pyasyncore 
pycares 
PyChromecast 
pycryptodomex 
Pygments 
pyinotify 
PyJWT 
PyNaCl 
pyOpenSSL 
pyparsing 
pyserial 
python-docx 
python-gnupg 
pyxdg 
PyYAML 
referencing 
requests 
rich 
rpds-py 
sentry-sdk 
setproctitle 
setuptools 
tabulate 
typeguard 
typing_extensions 
uc-micro-py 
urllib3 
websockets 
Werkzeug 
wheel 
xdg 
yarl 
yt-dlp 
zeroconf 
zipp 
